
  
  <div id="home" class="section scrollspy">
    <div class="container">
      <div class="card-panel z-depth-5 transparent">
        <div class="center row col s3">
          <h4>Accolades</h4>
        </div>
        <div class="center row col s12">
         
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4> KALARATHNAM</h4>
                  <p> Started performing Harikatha from the age of 7. <br>
                    Sri
                    Santhanandha Swamiji, Trivandrum, who gave her the title “KALARATHNAM”
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4> Graded Artist </h4>
                  <p> “A” grade artist for Hari-katha and Carnatic Music in ALL-INDIA RADIO & DOORDARSHAN.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">local_florist</i>
                  <h4>Acted in Tamil Film</h4>
                  <p> She was chosen for singing divine songs for a Tamil Film. <br> 
                      So she agreed to act in a Tamil film directed by Shri. K. Balachander.
                      <br>Check her gallery to view the glimse of her scenes.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>

                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4> “Sabhanayakan” </h4>
                  <p> She was conferred with the title “Sabhanayakan” by <br> 
                    Balaji fine arts in the year
                    1976 for Harikatha..
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>
  

  <div id="about" class="section scrollspy">
    <div class="container">
      <div class="card-panel z-depth-5">
        <div class="center row col s3">
          <h4>...</h4>
        </div>
        <div class="center row col s12">
         
            <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle green">local_florist</i>
                  <h4>Runner Up in All India Level by AIR</h4>
                  <p> She won the 2nd prize at All India level Classical Music Competition conducted by <br> 
                    the AIR (All India Radio Competition) in the year 1978.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4>Winner in NCC</h4>
                  <p>During her college days in Queen Marrys College, Chennai. <br> She Won 
                    the first place for music competition in the All India NCC (National
                    Cadet Corps).  <br>Awarded by Hon. President of India Shri. Neelam Sanjeeva
                    Reddy and was also appreciated by Hon. Prime Minister Smt. Indira
                    Ghandhi. 
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">local_florist</i>
                  <h4>"Harikatha Shikhamani" Title</h4>
                  <p> His Holiness Shri Shri Jayendra Saraswathi Swamiji ( Shankaracharyar
                    of Kanchi Mutt) has awarded  
                      <br> 
                    the title "Harikatha Shikhamani" for her
                    excellence in Harikatha Kalakshepam.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4>Tamil Nadu State “Kalaimamani” award</h4>
                  <p>Conferred with the prestigious Tamil Nadu State “Kalaimamani” award in
                    the year 2000.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">local_florist</i>
                  <h4>"Madhura Gaana Manonmani" Award</h4>
                  <p> She was awarded with “Madhura Gaana Manonmani” Award <br> 
                    by Senkundra Mahajana
                    on 03.10.2009.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4> Madura Murali Puraskar Award </h4>
                  <p>She received Madura Murali Puraskar Award from Padmabushan Dr. M.
                    Balamuralikrishna  <br> on the occasion of his 82nd Birth anniversary celebration
                    held during the month of July 2012. 
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
              </ul>

        </div>
      </div>
    </div>
  </div>


  <div id="about" class="section scrollspy">
    <div class="container">
      <div class="card-panel z-depth-5">
        <div class="center row col s3">
          <h4>...</h4>
        </div>
        <div class="center row col s12">
         
            <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle green">local_florist</i>
                  <h4>Sudharani Ragupathi Endowment Award </h4>
                  <p> She was conferred with the "Sudharani Ragupathi Endowment" award  <br>
                    by Narada Gana Sabha trust held during the month of August
                    2012. 
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4> Ganakala Sironmani</h4>
                  <p>Award announced as Ganakala Sironmani by Mannargudi Sambasiva Iyer
                    Trust for Hairkatha performance, <br> held during the month of December on
                    9th 2012. 
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">local_florist</i>
                  <h4>Dharmaathma</h4>
                  <p> “Dharmaathma” award from Vaithyasubramani Iyer Trust,<br> 
                     in the year 2013 for Harikatha kalakshepam. 
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4>Best Teacher Award</h4>
                  <p>She was honored with the Best Teacher Award <br>
                    from Inner Wheel Club of Madras South in the year
                    2014.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">local_florist</i>
                  <h4>"Harikatha Chudaamani" Award</h4>
                  <p> His Holiness Shri Shri Vijayendra Saraswathi Swamiji (
                    Shankaracharyar) <br> has awarded Harikatha Chudaamani
                    Title for her excellence in Harikatha Kalakshepam in the year 2017 at
                    Krishna Gaana Sabha.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4> Samskritha Rathna </h4>
                  <p>Dharma Kesari Solar K.S. Subramanya Iyer Trust <br> awarded “Samskritha
                    Rathna” on 23,November,2013.
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle green">local_florist</i>
                  <h4> Sathya Sangeetha Sundaram Award</h4>
                  <p>Sathya Sangeetha Sundaram Award was awarded to her by
                    Bharathaanjali Trust on 15.11.2015 <br> for her service in 
                    classical music. 
                  </p>
                  <i class="material-icons secondary-content">grade</i>
                </li>
              </ul>

        </div>
      </div>
    </div>
  </div>