<div id="online-classes" class="section scrollspy">

  <p class="microsoft marquee"> Admission to the batch for the slot chosen,
    shall be notified to you shortly, after your registration is complete. Thank you for your
    interest in the course. </p> 

  <div class="container">
    <div class="card-panel z-depth-5 transparent">
      <div class="center row col s3">
        <h4>Interested in learning Hari-katha Kalakshepam</h4>
      </div>
      <div class="center row col s12">
        <ul>
          <li class="onli">
            Click on the gallery menu to view one of the Hari-katha video
            uploaded for reference. 
            <a routerLink="/gallery">Gallery </a>
          </li>
          <li class="onli">
            Introduction of what is Harikatha and its importance will be
            explained.
          </li>
          <li class="onli">
            Students will be taught to render Panchapathi - Introduction songs
          </li>
          <li class="onli">
            3 Stories will be taught based on Student's choice of their language
            (Malayalam, Tamil, English, Sanskrit - any 1 language)
          </li>
          <li class="onli">For Ending - 1 thiruppugazh or Pallaandu or Sanskrit Bhajan</li>
          <li class="onli">Total number of classes :8 days</li>
          <li class="onli">Attendance compulsory.</li>
          <li class="onli">Course hours and days strict adherence is required.</li>
          <li class="onli">Some reference books will be suggested during class.</li>
          <li class="onli">Only weekends batch available</li>
          <li class="onli">Fee : Rs.500. No Refunds encouraged</li>
          <li class="onli">
            Slot Details : Saturday and Sunday - Mornings : 7 to 8 am Or
            Evenings : 8pm to 9pm
          </li>
        </ul>
        <br />
        <strong>Need to sign up to enroll/ choose slot for the course.</strong>
        <a routerLink="/signup">Sign up</a>
      </div>
    </div>
    <div class="card-panel z-depth-5 transparent">
      <div class="center row col s3">
        <h4>Interested in learning Carnatic Music Basic Course</h4>
      </div>
      <div class="center row col s12">
        <p class="flow-text"></p>
        <ul>
          <li class="onli">
            Introduction of what is Carnatic Music and its importance will be
            explained.
          </li>
          <li class="onli">Students are suggested to have a sruthi box and a notebook.</li>
          <li class="onli">
            Students will be taught to render Sarali-varisai (The Starting
            Phase) to Geetham (Small songs)
          </li>
          <li class="onli">6 varnams</li>
          <li class="onli">3 Keerthanas</li>
          <li class="onli">Total number of classes :8 days</li>
          <li class="onli">Attendance compulsory.</li>
          <li class="onli">Course hours and days strict adherence is required.</li>
          <li class="onli">Some reference books will be suggested during class.</li>
          <li class="onli">Only weekends batch available</li>
          <li class="onli">Fee : Rs.500. No Refunds encouraged</li>
          <li class="onli">
            Slot Details : Saturday and Sunday - Mornings : 9 to 10 am Or
            Evenings : 6pm to 7pm
          </li>
        </ul>
        <br />
        <strong>Need to sign up to enroll/ choose slot for the course.</strong>
        <a routerLink="/signup">Sign up</a>
      </div>
    </div>

    <div class="card-panel z-depth-5 transparent">
      <div class="center row col s3">
        <h4>Interested in learning Carnatic Music Advance Course</h4>
      </div>
      <div class="center row col s12">
        <p class="flow-text"></p>
        <ul>
          <li class="onli">
            Students are expected to have basic knowledge of Carnatic music.
          </li>
          <li class="onli">
            Introduction of some advanced concepts and its importance will be
            explained.
          </li>
          <li class="onli">Students are suggested to have a sruthi box and a notebook.</li>
          <li class="onli">
            Students will be taught to render Raaga Aalapanam, Thaanam, Pallavi,
            Swaram.
          </li>
          <li class="onli">Nava varnam - Muthuswami Dheekshitar's composition</li>
          <li class="onli">Rare - 3 Keerthanas</li>
          <li class="onli">Total number of classes :8 days</li>
          <li class="onli">Attendance compulsory.</li>
          <li class="onli">Course hours and days strict adherence is required.</li>
          <li class="onli">Some reference books will be suggested during class.</li>
          <li class="onli">Only weekends batch available</li>
          <li class="onli">Fee : Rs.500. No Refunds encouraged</li>
          <li class="onli">
            Slot Details : Saturday and Sunday - Mornings : 11am to 12
            pm(afternoon) Or Evenings : 4pm to 5pm
          </li>
        </ul>
        <br />
        <strong>Need to sign up to enroll/ choose slot for the course.</strong>
        <a routerLink="/signup">Sign up</a>
      </div>
    </div>
  </div>
</div>
