<div id="gallery" class="section scrollspy">
  <div class="container">
    <div class="card-panel z-depth-5">
      <div class="center row col s3">
        <h4>Some of Mrs.Girija's Videos</h4>
      </div>
      <div class="center row col s12">
        <youtube-player
          videoId="AVQSyVJOfh8"
          suggestedQuality="highres"
          [height]="300"
          [width]="300"
        >
        </youtube-player>
      </div>
      <div class="center row col s12">
        <youtube-player
          videoId="nKOyi2avhVk"
          suggestedQuality="highres"
          [height]="300"
          [width]="300"
        >
        </youtube-player>
      </div>
      <div class="center row col s12">
        <youtube-player
          videoId="tVVAoeGAEC8"
          suggestedQuality="highres"
          [height]="300"
          [width]="300"
        >
        </youtube-player>
      </div>
      <div class="center row col s12">
        <youtube-player
          videoId="EhmfmRJRN0c"
          suggestedQuality="highres"
          [height]="300"
          [width]="300"
        >
        </youtube-player>
      </div>
    </div>
  </div>
</div>


