
<div class="carousel" style="margin-top: 10px;">
    
    <a class="carousel-item" href="#one!"
      ><img class="img-responsive" src="/assets/images/kuttiGiri.png"
    /></a>
    <a class="carousel-item" href="#two!"
      ><img class="img-responsive" src="/assets/images/CaroGiri3.png"
    /></a>
    <a class="carousel-item" href="#three!"
      ><img class="img-responsive" src="/assets/images/kalaimamani.jpg"
    /></a>    
    <a class="carousel-item" href="#four!"
      ><img class="img-responsive" src="/assets/images/CaroWithGovernor.jpg"
    /></a>    
  </div>

  <div id="home" class="section scrollspy">
    <div class="container">
      <div class="card-panel z-depth-5 transparent">
        <div class="center row col s3">
          <h4>Introduction</h4>
        </div>
        <div class="center row col s12">
          <p class="flow-text">
            "Kalaimamani","harikathashikamani" Smt. Girija Ramaswamy is an exceptional Hari-katha exponent,
            a divine classical singer, a dedicated music teacher, a wonderful musician, and 
            a sanskrit scholar. She is a total package of all that is said, who has been
            rendering service to God through education and music. 
            <br />
           She has been performing Hari-katha kalakshepam from the age of 7 and 
           has performed world-wide.
           She has immense passion to teach young people, and since many students were
           craving for her lessons in Kerala and Tamil Nadu even during this pandemic situation, we wanted to 
           launch this website as a means to encourage continuous learning.
          </p>
        </div>
      </div>
    </div>
  </div>




  <div class="parallax-container z-depth-5">
    <div class="parallax">
      <img src=" assets/images/Carokuttigiri2.jpg" style="height: 650px;"/>
    </div>
  </div>

  <div id="home" class="section scrollspy">
    <div class="container">
      <div class="card-panel z-depth-5 transparent">
        <div class="center row col s3">
          <h4>About Hari-katha and Classical Music</h4>
        </div>
        <div class="center row col s12">
          <p class="flow-text">
            "Hari-Katha Kalakshepam" is a an art form of story telling which blends the tradition of music and speech together, its mainly relevant to Hindu Gods and Hindu mythology. 
            Only a talented person can manage this art form as he/she has to be a singer, actor and an orator at the same time.   
            This form is also known as Harikatha, Kathakalashepam and according to historians, Mahabharata and Ramayana were initially performed orally in the form of Harikatha. 
            <br>
            Kathaprasangam in Kerala has been influenced by art forms like Chakyarkoothu and Padakam.
            Sathakatha Kalashepam, is also similar art form that can be seen in many folk and cultural traditions in different languages in different parts of India.
          </p>
          <p class="flow-text">
            "Classical Carnatic Music" - Carnatic music, Karnāṭaka saṃgīta, or Karnāṭaka saṅgītam, 
            is a system of music commonly associated with southern India, where the basic elements such as 
            Shruti (the relative musical pitch), Swara (the musical sound of a single note), 
            Raaga (the mode or melodic formulæ), and Thaalam (the rhythmic cycles) form the foundation.  
            It is mostly relevant to Hindu Gods and devotion to the lord through music.
            <br>
            The greatest concentration of Carnatic musicians is to be found in the city of Chennai, India.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container z-depth-5">
    <div class="parallax">
      <img src="/assets/images/CaroNccAward1.png" style="height: 800px;"/>
    </div>
  </div>

  <div id="about" class="section scrollspy">
    <div class="container">
      <div class="card-panel z-depth-5 transparent">
        <div class="center row col s3">
          <h4>Her Career</h4>
        </div>
        <div class="center row col s12">
          <p class="flow-text">
            To brief her Music experience for the past 40 years, She hails from a music family from palakkad.
            She initially worked in the reputed renouned Padma seshadri Bala Bhavan
            School, chennai as Music, veda and sanskrit teacher. Then in Jai Gopal 
            Garodia School, Chennai as sanskrit teacher, Got a job offer from Tamil
            Nadu Government Music College, Chennai as a Lecturer and got promoted to
            Additional principal incharge and is now retired. In this tough schedule, she has been
            performing concerts in several temples and sabhas throughout India, Singapore, Japan,
            Malaysia, Europe, Nairobi and Canada. <br>
            
            Mrs.Girija has performed several Tevaram concerts along with Guru
            Kalaimamani.T. Natarajan. Specifically, in Travancore and , in Saiva
            Samaya Mandram, Ulaga Tamizh Maanadu and Tamizh Isai Sangam.  
            Girija Maam has been continuously performing in several temples across Kerala and 
            in Panniru Thirumurai Isai Vizha for 12
            years from 2008, and Tevaram concert in Akhanda Vizha at Kanchipuram
            Katchapeshwarar Temple for 8 years.   <br>

            Also, She has given a series in a program called “paattum porulum” by rendering
            meaning for 35 tevaram songs in Makkal TV, From July 2018.  
      
          </p>
        </div>
      </div>
    </div>
  </div>


<div class="parallax-container z-depth-5">
  <div class="parallax">
    <img src="assets/images/withbombaysis.jpg" style="height: 800px;"/>
  </div>
</div>

<div id="home" class="section scrollspy">
  <div class="container">
    <div class="card-panel z-depth-5 transparent">
      <div class="center row col s3">
        <h4>About Mrs.Girija Ramaswamy</h4>
      </div>
      <div class="center row col s12">
        <p class="flow-text">
          Mrs.Girija Ramaswamy, hails from a music family from palakkad and was initially tutored by her mother Late.Sangeetha Vidwamsini.Smt.Savithri Srinivasan
          from a very young age, and She has received several awards and laurels by the age of 6 years.
          She completed her graduation from Tamil Nadu Government Music College and later on became Additional principal there.
          She has rendered both Carnatic classical and Harikatha concerts in several temples and
          sabhas all over India. Just to mention a few in Chennai like - The Music
          Academy, Mylapore Fine Arts, Nungambakkam Cultural Academy,
          Bharath Kalachar, TTD (Tirumala Tiupathi Devasthanam, Chennai), TTD
          Naadaneerajanam, Jameshedpur Rama Bhaktha Samajam, Kolkata
          Vidwath Samajam, Tanjore Vidwath Samaj, etc and foreign countries – Singapore, Japan, Germany, Canada, Malaysia, West Indies, London,
          Abu Dhabi, Dubai, Nairobi, Paris.
          <br /><br />
          Her Father Vigadakavi.Shri.R.Srinivasan is a retired Railways employee and is an
          expert in doing mimicry, who is also a Kalaimamani Awardee. He has given many mimicry performances in Tamil Films and Sabhas.
          Her husband Late.SevaRatna.Shri.S.V.Ramaswamy was also a renouned public person, who held several important
          positions in several organisations like The Music Acadamy, Rotary Club, Lions Club, Stenographers' Guild, Ayodhya Mandapam, etc.
          He was retired from Indian Bank as a Chief Manager. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container z-depth-5">
  <div class="parallax">
    <img src="assets/images/withMss.jpg" style="height: 590px;"/>
  </div>
</div>

<div id="about" class="section scrollspy">
  <div class="container">
    <div class="card-panel z-depth-5 transparent">
      <div class="center row col s3">
        <h4>Some more</h4>
      </div>
      <div class="center row col s12">
        <p class="flow-text">
          
          She is well versed in several languages like Sanskrit, Malayalam, Tamil, and English.
          She is a grade artist in Hari-Katha-Kalakshepam and Carnatic Music in All India Radio and Doordarshan.
          Also an expert in playing violin, veena, composing songs and aiding choreography for Bharathnatyam.
          Mrs Girija has performed Tevaram, Divyaprabandham and Thiruppugazh concerts in
          temples all over South India as well. She has sung several songs composed by Padma Vibhusan
          Dr.Shri.BalamuraliKrishna, Padmasri Dr.Shri.Kunnakkudi Vaidyanathan,
          etc. <br>
          From a very young age she was extremely successful and to mention a few -
          she was selected by Tamil Nadu Iyal esai Nadagamandram in the year 1978
          and was offered many programs in 4 sabhas, She Won innumerable prizes in many music competitions (School, Colleges
          like MMC, IIT, etc and sabhas like Mylapore Fine Arts, etc) – (1968 – 1981).
          As a Teacher - She has been a part of coaching many students in teachers training in many
          colleges and also coached many Phd’s and other Post Graduates. <br>
          She has
          given a CD, which consists of 18 keerathanas and many padavarnams for
          the Post Graduate students undergoing practicals in the correspondence
          course in the Madras University. She has also trained many students of Tamil Nadu Govt. Music College to perform
          in the ‘Chennai Sangamam’ and taught Tevaram songs for students to
          perform in many temples. Further more, She has coached many students to perform in various television programs
          such as Podhigai, Raj T.V, Sun T.V and also AIR( All India Radio,
          Chennai). 
        </p>
      </div>
    </div>
  </div>
</div>