<div id="contact" class="section scrollspy">
  <div class="container" style="height: fit-content; width: fit-content;">
    <div class="card-panel z-depth-5">
      <div class="row">
        <div
          class="col s12 m6"
          style="height: fit-content; width: fit-content;"
        >
          <h4 class="center">Location</h4>
          <div class="col s12 m5 offset-m1">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1973.0764139038595!2d76.93687396349937!3d8.484517188445848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bb9e6246df5f%3A0xa777c1cb5f3bf98c!2sAditya%20Heights!5e0!3m2!1sen!2sin!4v1597652528786!5m2!1sen!2sin"
              width="auto"
              height="auto"
              frameborder="0"
              style="border-radius: 15px;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
              class="z-depth-4"
            ></iframe>
            <br />
          </div>
          <div>
            <div class="col s12 m12 xl12">
              <h4 class="center">Social Media</h4>
              <div class="card horizontal">
                <div class="card-image">
                  <img
                    src="assets/images/harikathashikamani.jpeg"
                    style="height: fit-content;"
                  />
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <ul>
                      <li>
                        <a
                          class="btn-floating blue darken-4"
                          href="https://www.facebook.com/GirijaRamji"
                          target="_blank"
                          ><i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m12 xl12">
            <h4 class="center">Email and Phone</h4>
            <div class="card horizontal">
              <div
                class="card-image"
                style="height: fit-content; width: fit-content;"
              >
                <img
                  src="assets/images/smallperf1.jpeg"
                  style="height: fit-content; width: fit-content;"
                />
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <strong> Email Id: giri.harikatha@gmail.com</strong> <br />
                  <strong> Phone: +919841087380 </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
