<div id="login" class="section scrollspy">
  <div class="container my-5">
    <div class="card-panel z-depth-5">
      <h5 class="card-header display-5">Login</h5>
      <div class="card-body">
        <form
        form (submit)="onLogin(loginForm)" #loginForm="ngForm"
        >
          <!-- <label for="email">Email address</label> -->
          <input
          name="email"
          ngModel
          type="email"
          #emailInput="ngModel"
          required
          email
          id="email"
          placeholder="Email address"
          />

            <small
            *ngIf="emailInput.invalid && (emailInput.touched || emailInput.dirty)"
              class="text-danger"
            >
              Valid email address required
            </small>
            
          <br />
          <br />
        
          <!-- <label for="password">Password</label> -->
          <input
          type="password"
          name="password"
          ngModel
          placeholder="Password"
          #passwordInput="ngModel"
          required  
          id="password"
          />
            <small
            *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)"
            >
              Valid password required
            </small>
          <br />
          <br />
          <br />
          <div class="row" >
            <div class="col s2">
              <button
              class="waves-effect waves-light btn"
              type="submit"
              name="submit"
              id="submit"
              [disabled]="!loginForm.valid"
              >
              Login
            </button>
          </div>

          <div class="col s2">
            <button
            class="waves-effect waves-light btn"
            type="reset"
            name="reset"
            id="reset"
            >
            Clear
          </button>
        </div>
      </div>

        </form>
      </div>
    </div>
  </div>
</div>
